@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'BoldPixels';
  src: url('/BoldPixels1.4.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

.font-boldpixels {
  font-family: 'BoldPixels', monospace;
}

a {
  @apply text-sky-400;
  @apply hover:underline;
}

h1 a {
  @apply text-white;
  @apply hover:no-underline;
}

@keyframes float {
  0%, 100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-10px);
  }
}

.animate-float {
  animation: float 3s ease-in-out infinite;
}

.capital-letter {
  /*font-family: 'BoldPixels', monospace;
  font-size: 32px;*/
}


html, body, main {
  background-color: #030712;
}