@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'BoldPixels';
  src: url('/BoldPixels1.4.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

.font-boldpixels {
  font-family: 'BoldPixels', monospace;
}

a {
  @apply text-sky-400;
  @apply hover:underline;

}

@keyframes float {
  0%, 100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-10px);
  }
}

.animate-float {
  animation: float 3s ease-in-out infinite;
}

.capital-letter {
  /*font-family: 'BoldPixels', monospace;
  font-size: 32px;*/
}

html {
 background-color: rgb(3 7 18 / var(--tw-bg-opacity, 1));
}