---
import Layout from '../layouts/Layout.astro';
---

<Layout title="Otium">
	<div class="space-y-8 text-gray-200 max-w-4xl mx-auto">
		<div class="prose prose-lg prose-invert ">
			<p>
				<span class="capital-letter">O</span>tium is a project to make a little computer and programming environment from scratch. It's...
			</p>
		</div>
		
		<div class="prose prose-lg prose-invert">
			<p>
				An <span class="capital-letter">o</span>perating system.
			</p>
		</div>
		
		<div class="prose prose-lg prose-invert">
			<p>
				A programming language. Inspired by Scheme, Lua and with a little sugar to
				give it a C-like syntax. Based on a few of my past projects:
				<a href="https://github.com/upvalue/odd">odd</a>,
				<a href="https://github.com/upvalue/arete">arete</a>.
			</p>
		</div>

		<div class="prose prose-lg prose-invert">
			<p>
				A physical device based on the <a
				href="https://www.raspberrypi.com/products/rp2350/">RP2350</a>
				microcontroller. Targeting the <a
				href="https://www.adafruit.com/product/6200">Fruit Jam</a> to start, it'll
				eventually have its circuit board, 3d printed case and of course a mechanical keyboard.

			</p>
		</div>

		<div class="prose prose-lg prose-invert">
			<div class="flex flex-col space-y-2">

				<span>
				And it's also just getting started right now, but you can follow along on <a href="https://github.com/upvalue/otium">github</a>. There's the beginnings of some prototypes that will eventually converge.
				</span>
				<span>With apologies.</span>
				<span>
					-- <a href="https://upvalue.io">Phil</a>.
				</span>
			</div>
		</div>
	</div>
</Layout>
