---
import Layout from '../layouts/Layout.astro';
---

<Layout title="Otium">
	<div class="space-y-8 text-gray-200 max-w-4xl mx-auto">
		<div class="prose prose-lg prose-invert ">
			<p>
				<span class="capital-letter">O</span>tium is a project to make a modern day retro computer. It's an...
			</p>
		</div>
		
		<div class="prose prose-lg prose-invert">
			<p>
				<span class="capital-letter">O</span>perating system. Inspired by Lisp machines, Smalltalk
				(particularly the moment where <a
				href="https://www.aneddoticamagazine.com/alto-system-project-dan-ingalls-demonstrates-smalltalk/">Dan
				Ingalls redefines core system behavior</a> while giving a demo for
				Steve Jobs) and microkernels, the idea is to have a system that can be altered on the fly.
			</p>
		</div>
		
		<div class="prose prose-lg prose-invert">
			<p>
				A programming language. Inspired by Scheme, Lua and with a little sugar to give it a C-like syntax.
			</p>
		</div>

		<div class="prose prose-lg prose-invert">
			<p>
				A physical device based on the <a href="https://www.raspberrypi.com/products/rp2350/">RP2350</a> microcontroller, with a split mechanical keyboard.
			</p>
		</div>

		<div class="prose prose-lg prose-invert">
			<div class="flex flex-col space-y-2">

				<span>And it's also mostly vaporware.</span>
				<span>
				Just getting started right now, but you can follow along on <a href="https://github.com/upvalue/otium">github</a>.
				</span>
				<span>With apologies.</span>
				<span>
					-- <a href="https://upvalue.io">Phil</a>.
				</span>
			</div>
		</div>
	</div>
</Layout>
