---
import Layout from '../layouts/Layout.astro';
import VaporwaveScene from '../components/VaporwaveScene';
---

<Layout title="Vaporwave">
  <main>
    <VaporwaveScene client:load />
    <div class="relative z-10 flex items-center justify-center min-h-screen">
      <h1 class="text-6xl font-bold text-transparent bg-clip-text ">
        VAPORWAVE
      </h1>
    </div>
  </main>
</Layout>

<style>
  body {
    margin: 0;
    padding: 0;
    overflow: hidden;
    @apply bg-gray-950;
  }
</style>